@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
  @apply text-slate-900;
}

body {
  @apply font-sans;
}

.heading-primary {
  @apply text-6xl;
  font-weight: 600;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 1.1;
  margin-bottom: 2rem;
}

.heading-tertiary {
  @apply text-2xl font-semibold;
}

.heading-secondary {
  font-weight: 600;
  line-height: 1.15;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
